html, body {
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


body, textarea, input, select, td, th {
    font-family:helvetica,arial,verdana,sans-serif; font-size:14px;
}

h1 {
    margin: 10px;
}

h2 {
    font-size:18px;
    font-weight: normal;
    margin: 35px 0 0 0;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #555555;
}

code, pre {
    display: block;
    height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: whitesmoke;
    box-shadow: inset 0 0 5px lightgray;
}

.demo-container{
    font-size: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.demo-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 100px;
}

.chart-window{
    width: 500px;
    height: 250px;
    margin-left: 40px;
    margin-right: 40px;
}

.map-window{
    width: 50%;
}

.grid{
    stroke-width: 0.2;
}
